@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
;root {}

body {
	margin: 0px;
	padding: 30px;
	font-family: "Mutka";
	overflow: hidden;
	background: #313131;
}

canvas {
	box-shadow: -3px 2px 9px 6px black;
	cursor: pointer;
	background-color: red;
	justify-content: center;
}
.tools {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 15px;
}
.tools .color-field {
	height: 40px;
	width: 40px;
	min-height:  40px;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid white;
	align-self: center;
	margin: 0 15px;
} 

.tools .button {
	align-self: center;
	width: 100px;
	height: 40px;
	border: 2px solid white;
	cursor: pointer;
	color: white;
	background: #222;
	font-weight: bold;
	margin: 0 10px;
}

.color-picker {
	align-self: center;
	margin: 0 10px;
	height: 50px;
}

.pen-range {
	align-self: center;
	margin: 0 10px;
}